.signup-main {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-input {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;

}

